<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css" >
    <script type="text/javascript" src="/jars/jquery-3.3.1.js" ></script>
    <script type="text/javascript" src="/js/index.js" ></script>
</head>
<body>
    <h3>thymeleaf</h3>
    <div class="font-style" th:text="${username}">${#username}</div>
    <a href="/user/toLogin" th:text="${username}">cccc</a>
</body>
</html>